<ul class="nav justify-content-center mb-4">
  <li class="nav-item">
     <a class="nav-link text-pink" data-bs-toggle="collapse" href="#filter" role="button" aria-expanded="false" aria-controls="collapseExample">
        Filter by
    </a>
  </li>
</ul>

<div class="collapse" id="filter">
    <%= render 'lands/search' %>
</div>

