<div class="album py-5">
  <div class="container-fluid">
       
     <%= render 'houses/buttons_search' %>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="houses">
      <% @houses.each do |house| %>
        <%= render house %>
      <% end %>
    </div>


    <div class="d-flex justify-content-center">
      <%= paginate @houses %>
    </div>

  </div>
</div>
