<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
        <p>
            <i class="bi-house-heart text-pink fs-90"></i>
        </p>
        <strong class="fs-4 text-pink">Visite-nos</strong> 
        <br>
        <p class="fs-5 text-primary-emphasis">Centralidade do Kilamba, Belas, Luanda, Angola</p> 
        </div>
    <div class="col">
        
        <a href="https://wa.me/244998995999" target="_blank" class="link-underline-light">               
            <p>
                <i class="bi-whatsapp text-pink fs-90"></i>        
            </p>
            <strong class="fs-4 text-pink">Liga-nos</strong> 
            <br>
            <p class="fs-5 text-primary-emphasis">+244 998 995 999</p> 
        </a> 
    </div>
        
        
    <div class="col">
        <p>
            <i class="bi-envelope-paper-heart text-pink fs-90"></i>
        </p>
        <strong class="fs-4 text-pink">Contact-nos</strong> 
        <br>
        <p class="fs-5 text-primary-emphasis">Envia-nos as tuas sugestões, ideias ou agenda uma reunião connosco.</p>
        <strong class="fs-5 text-pink">geral@hougev.com</strong> 
    </div>
</div>