<div class="album py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="favorite_houses">

      <% @favorite_houses.each do |favorite_house| %>
         <%= render favorite_house %>
      <% end %>

    </div>
  </div>
</div>
